@import "tailwindcss";

@theme {
  --color-background: #1a1715;
  --color-foreground: #e4ddd5;
  --color-secondary: #928580;
  --color-danger: #da5757;
}

@layer base {
  * {
    @apply border-secondary focus:outline-none focus-visible:ring-2 focus-visible:ring-foreground focus-visible:ring-offset-4 focus-visible:ring-offset-background;
  }
  body {
    @apply relative h-screen bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}
